*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: gray;
}
.box{
    background-color: transparent;
    border: 1px solid greenyellow;
    box-shadow: 0 0 10px 0 greenyellow;
    margin: 0 auto;
}
#time{
    margin-top: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}